<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button shape="round" fill="outline" (click)="player.paused ? player.play() : player.pause()">
      <ion-icon [name]="player.paused ? 'play' : 'pause'"></ion-icon>
    </ion-button>
  </div>
</ion-content>
